.parent{width:100%;margin-top: 2%;padding:5%;}
input{height: 50px;}
button{width:250px;height: 50px;}


@media screen and (max-width:425px) {

   .table{
        width:100px;
        font-size: 8px;
        margin-left:-16px;
    }
}
td{
    text-align: left;
}