.parent{
    padding:5%;
    
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-bar input{
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}  
.search-bar button{
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-group{
    display: flex;
    justify-content: space-around;
} 
.button-group button{
    padding: 8px 16px;
    margin-left:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-container{
    overflow-x: auto;
}
td{
    padding: 8px;
    text-align: left;
}
  
  @media only screen and (max-width: 600px) {
    table{
      font-size: 9px;
      margin-left: -35px;
    }
}
.positive-value{
    color: green!important;
} 
.negative-value {
    color: red!important;
}