.parent{width:100%;margin-top: 2%;padding:5%;}
.form{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
}
input, button{
    height:45px;
}
.sort_btn{
    width:250px;
}
.btn{
    margin-left:10px;
}
@media screen and (max-width:250px) {

   table{
        /* width:100%; */
        font-size: 8px;
        margin-left:-20px;
        text-align: left;
    }
    .form{
        flex-direction: column;
    }
    .form button{
        width:90%;
        margin-left:0px;
        height:30px;
        font-size:10px;
        margin-top:10px;
    }
    .form input{
        width:100%;
        font-size:10px;
        height:30px;
        margin-left:0px;
    }
}
td{
    text-align: left;
}